target/
.settings/
.idea/
.logs/
logs/
*.iml
.idea/*
gw_payment.iml
.DS_Store
./src/main/java/com/mservice/payment/repositories/TestProcess.java
.src/test/*
.gitignore
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
._*.png
log4j2