<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Console Appender -->
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %highlight{%-5level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green} (%F:%L) : %msg%n"/> 
        </Console>
        <RollingFile name="LogToFile"
                     fileName="target/log4j2/roll-by-time-and-size/app.log"
                     filePattern="target/log4j2/roll-by-time-and-size/app.%d{MM-dd-yyyy-HH-mm}.%i.log.gz"
                     ignoreExceptions="false">
                <PatternLayout>
                    <Pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</Pattern>
                </PatternLayout>
                <Policies>
                    <OnStartupTriggeringPolicy />
                    <SizeBasedTriggeringPolicy size="5 KB" />
                    <TimeBasedTriggeringPolicy />
                </Policies>
                <DefaultRolloverStrategy>
                    <Delete basePath="${baseDir}" maxDepth="2">
                        <IfFileName glob="target/log4j2/roll-by-time-and-size/app.*.log.gz" />
                        <IfLastModified age="20d" />
                    </Delete>
                </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="com.mservice" level="debug" additivity="false">
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="LogToFile"/>
        </Logger>

        <Root level="error">
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="LogToFile"/>
        </Root>
    </Loggers>
</Configuration>

